* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    background-color: #eee;
}


.Main {
    margin: 0 auto;
    background-color: #fff;
    padding: 3rem;
    position: relative;
    clear: both;
    content: "";
    display: table;
}

.part,
.part::after {
    display: inline-block;
    float:left;
    padding: 2rem;
    height: 40rem;
    border-radius: 5px;
    text-align: center;
    width: auto;
    margin: 3rem;
    display: block;
    background-color: #eee;
}

.Bbutton {
    background-color: #333;
    width: 10rem;
    height: 6rem;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
}

.resultarea {
    font-weight: 500;
    margin: 3px;
    margin-top: 10px;
    text-align: left;
    font-size: 1.6rem;
    background-color: whitesmoke;
}

.rel {
    background-color: white;
}

.btn {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 400;
}

.screen {
    border: 1px solid #333;
    width: 214px;   
    text-align: right;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: 'Press Start 2P', cursive;
}
.screen_show{
    overflow:hidden;
    height: 2rem;
    font-size: 1rem;
}
.screen_inf{
    overflow: hidden;
    height: 5rem;
    font-size: 3rem;
}


.keyboard {
    background-color: #333;
    padding: 3px;
    border-radius: 5px;

}

.btnholder{
    margin-top: 5rem;
    font-size: 2rem;
    text-align: left;
}
.btn-start{
    
    display:inline-block;
    width: 8rem;
    height: 8rem;
    text-align: center;
    font-size: 2.4rem;
    background-color: #333;
    color: white;
    border-radius: 3px;

}